# Configuration file for rtorrent

import = /etc/rtorrent/network.conf

# -1 = same as downloading
throttle.max_peers.seed.set = -1

# protocals
trackers.use_udp.set = yes
dht.mode.set = auto

# check for errors
pieces.hash.on_completion.set = yes

# directories for torrents
directory.default.set = ~/downloads
session.path.set = ~/.cache/rtorrent

# automatic schedule
schedule2 = watch_directory, 5, 5, "load.start=~/downloads/*.torrent"
schedule2 = tied_directory, 5, 5, start_tied=
schedule2 = untied_directory, 5, 5, stop_untied=
schedule2 = low_diskspace, 5, 60, close_low_diskspace=100M

# encrypt if available
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
