# Configuration file for rtorrent

import = /etc/rtorrent/network.conf

# -1 = same as downloading
max_peers_seed = -1

# Maximum number of simultanious uploads per torrent
## 1 + (upload / 6)
max_uploads = 38

# Check for errors
check_hash = yes

# Directories for torrents
directory = ~/downloads
session = ~/.cache/rtorrent

# Automati schedule
schedule = watch_directory,5,5,load_start=~/downloads/*.torrent
schedule = untied_directory,5,5,stop_untied=
schedule = tied_directory,5,5,start_tied=
schedule = low_diskspace,5,60,close_low_diskspace=100M

# Encrypt if available
encryption = allow_incoming,try_outgoing,enable_retry
