snippet /\\?b(egin)?/ "begin / end environment" br
\begin{$1}
	${0:${VISUAL}}
\end{$1}
endsnippet

snippet /item(ize)?/ "Itemize environment" br
\begin{itemize}
	\item ${0:${VISUAL}}
\end{itemize}
endsnippet

snippet i "Item"
\item ${0:${VISUAL}}
endsnippet

snippet /\\?incg/ "Include Graphics" r
\includegraphics${3:[${4:width}=${5:\textwidth}]}{${2:figures/$1}}$0
endsnippet

snippet /([-+]?\d*\.?\d*)\\?tw/ "Text width" r
`!p snip.rv = match.group(1)`\textwidth
endsnippet
