#!/bin/bash

# custom keys and themes
setxkbmap -layout us -option ctrl:nocaps -option compose:ralt
[[ -x $HOME/.Xmodmap ]] && xmodmap $HOME/.Xmodmap
[[ -x $HOME/.Xresources ]] && xrdb -override $HOME/.Xresources

# background image
[[ -x $HOME/.fehbg ]] && $HOME/.fehbg &

# autolock screen after 10mins
xset s 600 +dpms
xsidle.sh slock &

# status bar
slstatus &

# composer
compton --daemon --fade-delta=2

# sound
start-pulseaudio-x11

# activate numlock
numlockx &

# auto-hide mouse pointer
unclutter &

# dropbox
dropbox-cli start
